#pond{

height:900px;
width:900px;
border-radius:10px;
overflow: hidden;
border:2px black solid;
float:right;
margin-right:30px;

}

canvas{
position:absolute
}

#canvas{
z-index:-1
}

.picked{
margin:0 ! important;
position:absolute;
transform: scale(1.5);
padding-bottom:0px ! important;
border:1px solid black;
}

@keyframes raise {
0%{transform:scale(1)}
100%{transform:scale(1.5)}
    
}

@keyframes fall {
0%{transform:scale(1.5) rotate(0deg)}
100%{transform:scale(.5) rotate(180deg)}
    
}

.pebblecontainer{
width:30%;
padding-bottom:30%;
float:left;
display:flex;
margin:10%;
border-radius: 10px;
}

body{
display:flex

}
.foodContainer{
border-radius:10px;
overflow: hidden;
border:2px black solid;

height:fit-content;
width:300px;
margin-right:50px;



}
